<div class="relative group inline-block">
    <img src="assets/img/icon/icons8-i-48.png" alt="Info" class="w-5 h-5 cursor-pointer" />
    <div class="absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 w-max max-w-xs 
               bg-gray-800 text-white text-xs rounded px-2 py-1 
               opacity-0 group-hover:opacity-100 
               pointer-events-none
               transition-opacity duration-200
               dark:bg-gray-200 dark:text-gray-900
              ">
        {{ message }}
    </div>
</div>