<section id="list" class="section p-4 mb-4">
    <div class="w-full md:w-1/2 mb-3">
        <div class="relative">
            <button type="button" (click)="toggleSortByDropdown()"
                class="w-full p-2 rounded border text-left bg-[var(--color-bg)]"
                style="background-color: var(--input-bg); color: var(--input-text); border-color: var(--input-border);">
                {{ selectedFieldName }}
            </button>
            <ul class="absolute z-50 w-full max-h-40 overflow-y-auto bg-[var(--color-bg)] rounded border"
                *ngIf="isSortByDropdownOpen"
                style="background-color: var(--input-bg); color: var(--input-text); border-color: var(--input-border);">
                <li (click)="sortList(0,'Amount ⬇️',1)" class="p-2 cursor-pointer hover:bg-[--list-hover]">
                    Amount ⬇️
                </li>
                <li (click)="sortList(0,'Amount ⬆️',-1)" class="p-2 cursor-pointer hover:bg-[--list-hover]">
                    Amount ⬆️
                </li>
                <li (click)="sortList(1,'Category ⬇️',1)" class="p-2 cursor-pointer hover:bg-[--list-hover]">
                    Category ⬇️
                </li>
                <li (click)="sortList(1,'Category ⬆️',-1)" class="p-2 cursor-pointer hover:bg-[--list-hover]">
                    Category ⬆️
                </li>
                <li (click)="sortList(3,'Date ⬇️',1)" class="p-2 cursor-pointer hover:bg-[--list-hover]">
                    Date ⬇️
                </li>
                <li (click)="sortList(3,'Date ⬆️',-1)" class="p-2 cursor-pointer hover:bg-[--list-hover]">
                    Date ⬆️
                </li>
            </ul>
        </div>
    </div>
    <ul class="space-y-3">
        <li *ngFor="let exp of expenses"
            class="bg-[var(--color-surface)] hover:bg-[var(--list-hover)] rounded-lg p-4 shadow-md">
            <div class="flex justify-between items-center mb-2">
                <span class="text-lg font-semibold text-[var(--color-green)]">{{currency}} {{ exp.amount }}</span>
                <span class="text-sm">{{ exp.category_name || 'Uncategorized' }}</span>
            </div>
            <div class="text-sm space-y-1">
                <div> {{ getFormattedDate(exp) }}</div>
            </div>
        </li>
    </ul>
</section>