<section id="calendar" class="section p-3">

    <!-- ░░ TOP BAR ░░ -->
    <div class="flex flex-col justify-between md:w-[60%] m-auto">
        <div class="flex items-center justify-start pb-2">
            <label for="isShowHeatmap" class="font-semibold pr-2">Show HeatMap</label>
            <label class="relative inline-flex items-center cursor-pointer">
                <input type="checkbox" id="isShowHeatmap" [checked]="isShowHeatmap" (change)="toggleHeatmap()"
                    class="sr-only peer">
                <div
                    class="w-10 h-6 bg-gray-600 rounded-full peer peer-checked:bg-[var(--color-accent)] transition-all">
                </div>
                <span
                    class="absolute left-1 top-1 w-4 h-4 bg-white rounded-full transition-all peer-checked:translate-x-4"></span>
            </label>
        </div>

        <div class="flex justify-between items-center pt-2 pb-6">
            <button class="shrink-0" (click)="changeMonth(-1)">
                <img src="assets/img/icon/icons8-left-arrow-50.png" alt="prev"
                    class="w-[25px] h-[25px] transition-all duration-300 ease-in-out"
                    style="filter: var(--icon-color2);">
            </button>

            <div class="text-center font-semibold">
                <a href="/music" [ngClass]="{
                'cursor-pointer': has_music_url_access,
                'pointer-events-none cursor-default': !has_music_url_access
                }">
                    Total Expenses:
                </a>
                <span class="text-[var(--color-green)]">{{ currency }} {{ totalExpenses }}</span>
            </div>

            <button class="shrink-0" (click)="changeMonth(1)">
                <img src="assets/img/icon/icons8-right-arrow-50.png" alt="next"
                    class="w-[25px] h-[25px] transition-all duration-300 ease-in-out"
                    style="filter: var(--icon-color2);">
            </button>
        </div>

        <!-- ░░ CALENDAR ░░ -->
        <div>
            <h2
                class="rounded-t-lg border-b border-[var(--color-white)] p-2 bg-[var(--color-accent)] text-[var(--color-white)] text-lg font-semibold text-center">
                {{ calendarTitle }}
            </h2>

            <div
                class="grid grid-cols-7 text-center font-semibold shadow bg-[var(--color-accent)] text-[var(--color-white)] uppercase text-xs">
                <div class="border-r border-[var(--color-white)] p-2" *ngFor="let day of weekDays">{{ day }}</div>
            </div>

            <div class="grid grid-cols-7 gap-2 mt-2 text-center text-sm">
                <ng-container *ngFor="let day of calendarDays">
                    <div [ngClass]="day.classes" class="p-2 rounded"
                        (click)="day.isCurrentMonth && openModal(day.date)">
                        {{ day.label }}
                    </div>
                </ng-container>
            </div>
        </div>
        <div *ngIf="showBudgetRadio" class="flex items-center justify-start pt-4 ">
            <label for="isBudgetRadioClicked" class="font-semibold pr-2">Auto-set threshold values</label>
            <label class="relative inline-flex items-center cursor-pointer">
                <input type="checkbox" id="isBudgetRadioClicked" [checked]="isBudgetRadioClicked"
                    (change)="setHeatmapThresholdsByBudget()" class="sr-only peer">
                <div
                    class="w-10 h-6 bg-gray-600 rounded-full peer peer-checked:bg-[var(--color-accent)] transition-all">
                </div>
                <span
                    class="absolute left-1 top-1 w-4 h-4 bg-white rounded-full transition-all peer-checked:translate-x-4"></span>
            </label>
        </div>
    </div>

    <!-- ░░ HEATMAP SUMMARY ░░ -->
    <div class="my-6 text-center" *ngIf="heatmapSummary.length > 0 && isShowHeatmap">
        <div
            class="max-w-[300px] md:max-w-md mx-auto w-full border border-[var(--input-border)] rounded-lg overflow-hidden text-sm">

            <!-- Table Header -->
            <div [class]="isBudgetRadioClicked ? 'grid-cols-[40%_20%_40%]' : 'grid-cols-[40%_15%_30%_15%]'"
                class="grid  bg-[var(--color-gray)] text-[var(--color-text)] font-semibold py-2 text-left">
                <span class="pl-3">Color</span>
                <span class="text-center">Days</span>
                <span class="text-center">Amount</span>
                <span *ngIf="!isBudgetRadioClicked" class="text-center">Edit</span>
            </div>

            <!-- Table Rows -->
            <div *ngFor="let item of heatmapSummary"
                [class]="isBudgetRadioClicked ? 'grid-cols-[40%_20%_40%]' : 'grid-cols-[40%_15%_30%_15%]'"
                class="grid items-center py-2 border-t border-[var(--input-border)] text-[var(--color-text)] text-[0.8rem]">

                <!-- Color + Label -->
                <div class="flex items-center justify-start gap-2 pl-2">
                    <span class="w-4 h-4 rounded inline-block" [ngClass]="item.color"></span>
                    <span>{{ item.text }}</span>
                </div>

                <!-- Days -->
                <div class="font-medium text-center">{{ item.days }}</div>

                <!-- Amount -->
                <div class="font-medium text-center">{{ currency }} {{ item.amount }}</div>
                <!-- Edit button (perfectly centered) -->
                <div *ngIf="!isBudgetRadioClicked" class="flex items-center justify-center">
                    <button *ngIf="!(item.text === 'No expenses' || item.color === 'bg-[var(--color-amber)]')"
                        (click)="openEditHeapMapModel(item.color)"
                        class="w-[14px] h-[14px] flex items-center justify-center rounded-full transition-all duration-200 ease-in-out">
                        <img src="assets/img/icon/icons8-edit-50.png" alt="edit"
                            class="w-[14px] h-[14px] pointer-events-none" style="filter: var(--icon-color2);" />
                    </button>
                </div>
            </div>

            <!-- Total Row -->
            <div [class]="isBudgetRadioClicked ? 'grid-cols-[40%_20%_40%]' : 'grid-cols-[40%_15%_30%_15%]'"
                class="grid items-center py-2 border-t border-[var(--input-border)] text-[var(--color-text)] font-semibold">
                <span class="col-span-2 text-center">Total</span>
                <span class="text-center text-green-500">{{ currency }} {{ totalExpenses }}</span>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div id="dayModal" class="fixed inset-0 bg-black bg-opacity-50 items-center justify-center z-50 flex"
        *ngIf="showModal">

        <div class="bg-[var(--color-bg)] p-6 rounded-xl w-11/12 md:w-1/2 max-h-[60vh] flex flex-col shadow-xl">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-lg font-bold text-[var(--color-text)]">{{ modalTitle }}</h2>
                <button (click)="closeModal()" class="text-[var(--color-red)] font-bold text-xl">&times;</button>
            </div>

            <ul class="space-y-3 overflow-y-auto pr-2 scrollbar-thin scrollbar-thumb-[var(--color-gray-500)] scrollbar-track-[var(--color-gray-500)] "
                style="max-height: 60vh;">
                <li *ngIf="modalExpenses.length === 0" class="text-[var(--color-gray-500)]">No expenses found for this
                    date.</li>
                <li *ngFor="let exp of modalExpenses"
                    class="bg-[var(--color-surface)] hover:bg-[var(--list-hover)] rounded-lg p-4 shadow-md">
                    <div class="flex justify-between items-center mb-2">
                        <span class="text-lg font-semibold text-[var(--color-green)]">{{currency}} {{ exp.amount
                            }}</span>
                        <span class="text-sm">{{ exp.category_name || 'Uncategorized' }}</span>
                    </div>
                    <div class="text-sm space-y-1">
                        <div><strong>Time:</strong> {{ exp.time }}</div>
                        <div *ngIf="exp.note"><strong>Note:</strong> {{ exp.note }}</div>
                        <div *ngIf="exp.location"><strong>Location:</strong> {{ exp.location }}</div>
                        <div *ngIf="exp.payment_mode"><strong>Payment Mode:</strong> {{ exp.payment_mode }}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<app-form-model *ngIf="showEditHeatMapModel" [label]="'Edit HeatMap'" (close)="closeEditHeatMapModel()">
    <form [formGroup]="heatMapForm" (ngSubmit)="updateHeatMap()">
        <label class="block mb-1 font-medium">Amount</label>
        <input formControlName="amount" type="number" [min]="minHeatMapAmount" [max]="maxHeatMapAmount"
            placeholder="Enter Amount"
            class="w-full p-2 rounded border text-[var(--input-text)] bg-[var(--input-bg)] border-[var(--input-border)] focus:outline-none focus:ring-2 focus:ring-[var(--theme-color)] transition-all duration-200" />
        <div class="error-message text-[var(--color-error)]"
            *ngIf="heatMapForm.get('amount')?.touched && heatMapForm.get('amount')?.errors?.['min'] && isEmeraldModelOpen">
            Amount cannot be negative or 0
        </div>

        <div class="error-message text-[var(--color-error)]"
            *ngIf="heatMapForm.get('amount')?.touched && heatMapForm.get('amount')?.errors?.['min'] && isRoseModelOpen">
            Amount should be between {{ minHeatMapAmount }} and {{ maxHeatMapAmount }}
        </div>

        <div class="error-message text-[var(--color-error)]"
            *ngIf="heatMapForm.get('amount')?.touched && heatMapForm.get('amount')?.errors?.['max']">
            Amount should be between {{ minHeatMapAmount }} and {{ maxHeatMapAmount }}
        </div>
        <div class="error-message text-[var(--color-error)]"
            *ngIf="heatMapForm.get('amount')?.touched && heatMapForm.get('amount')?.errors?.['required']">
            Amount is required
        </div>
        <div class="flex justify-end mt-2">
            <button type="button" (click)="closeEditHeatMapModel()"
                class="mr-2 px-4 py-2 bg-[var(--color-gray-500)] text-white rounded">Cancel</button>
            <button type="submit" class="px-4 py-2 bg-[var(--color-accent)] text-white rounded">Update</button>
        </div>
    </form>
</app-form-model>