.input-error {
    border-color: var(--input-error) !important;
}

.error-message {
    color: var(--input-error);
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

#category-list::-webkit-scrollbar {
    width: 6px;
}

#category-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}