.dayCell-list-item {
  background-color: var(--color-surface);
  color: var(--color-text);
  transition: background-color 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.dayCell-list-item:hover {
  background-color: var(--list-hover);
}