body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.bg-surface {
  background-color: var(--color-surface);
}

.bg-surface2 {
  background-color: var(--color-bg);
}

.text-accent {
  color: var(--color-accent);
}

.bg-accent {
  background-color: var(--color-accent);
}

.text-color {
  color: var(--color-text);
}

.bg-bg {
  background-color: var(--color-bg);
}

.bg-toggle {
  background-color: var(--color-surface);
}

.text-muted {
  color: var(--color-text);
  opacity: 0.7;
}

.toggle-bg {
  background-color: var(--color-surface);
  transition: all 0.3s ease;
}

.toggle-circle {
  background-color: var(--color-surface);
  transition: transform 0.3s ease;
}

.toggle-track {
  background-color: var(--color-accent);
}

.shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  #sidebar {
    display: block !important;
  }
}

.text-color-text {
  color: var(--color-text);
}

.expense-list-item:hover {
  background-color: var(--list-hover);
}

.category-list-item:hover {
  background-color: var(--list-hover);
}

.dayCell-list-item:hover {
  background-color: var(--list-hover);
}

input,
textarea {
  background-color: var(--input-bg);
  color: var(--input-text);
  border-color: var(--input-border);
}

input::placeholder,
textarea::placeholder {
  color: var(--input-placeholder);
}




@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}