<nav class="fixed top-0 left-0 w-full bg-[var(--color-accent)] text-[var(--color-text)] z-50 shadow"
     [ngClass]="{ 'pt-[32px]': nativeAppServiceService.isNativeApp() }"
>
    <div class="flex items-center justify-start px-2 py-[10px] md:px-4 relative">
        <!-- Back Button -->
        <button *ngIf="showBackButton" (click)="navigateAndClose('home', $event)" class="relative top-[1px]">
            <img src="assets/img/icon/icons8-back-50.png" alt="Back" class="w-6 h-6"
                style="filter: invert(100%); transition: filter 0.3s ease;">
        </button>
        <!-- Center Title -->
        <h1 class="pl-2 text-lg text-[var(--color-white)] font-semibold">
            {{ navBarLable }}
        </h1>
    </div>
    <app-hamburger-menu></app-hamburger-menu>
</nav>