<!-- Desktop Sidebar -->
<aside #sidebarRef id="sidebar"
  class="fixed md:static z-40 w-64 bg-[var(--color-surface)] shadow p-4 transition-all duration-300 ease-in-out hidden md:block h-full">
  <ul class="space-y-4">
    <li>
      <a href="#" (click)="navigateAndClose('home', $event)" class="block hover:text-[var(--color-accent)]">🏠 Home</a>
    </li>
    <li>
      <a href="#" (click)="navigateAndClose('add', $event)" class="block hover:text-[var(--color-accent)]">➕ Add
        Expense</a>
    </li>
    <li>
      <a href="#" (click)="navigateAndClose('list', $event)" class="block hover:text-[var(--color-accent)]">📋 List</a>
    </li>
    <li>
      <a href="#" (click)="navigateAndClose('calendar', $event)" class="block hover:text-[var(--color-accent)]">📅
        Calendar</a>
    </li>
    <li>
      <a href="#" (click)="navigateAndClose('budget', $event)" class="block hover:text-[var(--color-accent)]">💰
        Budget</a>
    </li>
    <li *ngIf="has_ai_access">
      <a href="#" (click)="navigateAndClose('ai', $event)" class="block hover:text-[var(--color-accent)]"> 💬 AI
        Assistant</a>
    </li>
    <li>
      <a href="#" (click)="navigateAndClose('settings', $event)" class="block hover:text-[var(--color-accent)]">⚙️
        Settings</a>
    </li>
  </ul>
</aside>

<!-- Mobile Bottom Nav -->
<nav
  class="md:hidden fixed bottom-0 py-[5px] h-[50px] left-0 right-0 bg-[var(--color-surface)] shadow-t flex justify-around z-50">

  <button (click)="navigateAndClose('list', $event)"
    [ngClass]="{'scale-110  rounded-[50%] bg-[--list-hover]': activePath === 'list'}"
    class="h-[40px] w-[40px] block px-2 text-sm relative transition-all duration-300 ease-in-out">
    <img src="assets/img/icon/icons8-list-60.png" alt="list"
      class="w-[25px] h-[25px] transition-all duration-300 ease-in-out" style="filter: var(--icon-color2);">
  </button>

  <button (click)="navigateAndClose('calendar', $event)"
    [ngClass]="{'scale-110  rounded-[50%] bg-[--list-hover]': activePath === 'calendar'}"
    class="h-[40px] w-[40px] block  px-2 text-sm relative transition-all duration-300 ease-in-out">
    <img src="assets/img/icon/icons8-calendar-50.png" alt="calendar"
      class="w-[25px] h-[25px] transition-all duration-300 ease-in-out" style="filter: var(--icon-color2);">
  </button>

  <button (click)="navigateAndClose('add', $event)"
    [ngClass]="{'scale-110  rounded-[50%] bg-[--list-hover]': activePath === 'add'}"
    class="h-[40px] w-[40px] block  px-2 text-sm relative transition-all duration-300 ease-in-out">
    <img src="assets/img/icon/icons8-add-60.png" alt="add"
      class="w-[25px] h-[25px] transition-all duration-300 ease-in-out" style="filter: var(--icon-color2);">
  </button>

  <button (click)="navigateAndClose('budget', $event)"
    [ngClass]="{'scale-110  rounded-[50%] bg-[--list-hover]': activePath === 'budget'}"
    class="h-[40px] w-[40px] block  px-2 text-sm relative transition-all duration-300 ease-in-out">
    <img src="assets/img/icon/icons8-budget-50.png" alt="budget"
      class="w-[25px] h-[25px] transition-all duration-300 ease-in-out" style="filter: var(--icon-color2);">
  </button>

  <button (click)="navigateAndClose('settings', $event)"
    [ngClass]="{'scale-110  rounded-[50%] bg-[--list-hover]': activePath === 'settings'}"
    class="h-[40px] w-[40px] block  px-2 text-sm relative transition-all duration-300 ease-in-out">
    <img src="assets/img/icon/icons8-settings-50.png" alt="settings"
      class="w-[25px] h-[25px] transition-all duration-300 ease-in-out" style="filter: var(--icon-color2);">
  </button>

</nav>