<!-- Desktop Sidebar -->
<aside #sidebarRef id="sidebar"
  class="fixed md:static z-40 w-64 bg-[var(--color-surface)] shadow p-4 transition-all duration-300 ease-in-out hidden md:block h-full">
  <ul class="space-y-4">
    <li>
      <a href="#" (click)="navigateAndClose('/home', $event)" class="block hover:text-accent">🏠 Home</a>
    </li>
    <li>
      <a href="#" (click)="navigateAndClose('/add', $event)" class="block hover:text-accent">➕ Add Expense</a>
    </li>
    <li>
      <a href="#" (click)="navigateAndClose('/list', $event)" class="block hover:text-accent">📋 List</a>
    </li>
    <li>
      <a href="#" (click)="navigateAndClose('/search', $event)" class="block hover:text-accent">🔍 Search</a>
    </li>
    <li>
      <a href="#" (click)="navigateAndClose('/calendar', $event)" class="block hover:text-accent">📅 Calendar</a>
    </li>
    <li>
      <a href="#" (click)="navigateAndClose('/settings', $event)" class="block hover:text-accent">⚙️ Settings</a>
    </li>

  </ul>
</aside>

<!-- Mobile Bottom Nav -->
<nav
  class="md:hidden fixed bottom-0 left-0 right-0 bg-[var(--color-surface)] shadow-t p-[0.7rem] flex justify-around z-50">

  <button (click)="navigateAndClose('/list', $event)" class="flex flex-col items-center text-sm hover:text-accent">
    <img src="assets/img/icon/icons8-list-60.png" alt="list" class="w-[30px] h-[30px]"
      style="filter: var(--icon-color2); transition: filter 0.3s ease;">
  </button>

  <button (click)="navigateAndClose('/add', $event)" class="flex flex-col items-center text-sm hover:text-accent">
    <img src="assets/img/icon/icons8-add-60.png" alt="add" class="w-[30px] h-[30px]"
      style="filter: var(--icon-color2); transition: filter 0.3s ease;">
  </button>

  <button (click)="navigateAndClose('/calendar', $event)" class="flex flex-col items-center text-sm hover:text-accent">
    <img src="assets/img/icon/icons8-calendar-50.png" alt="calendar" class="w-[30] h-[30px]"
      style="filter: var(--icon-color2); transition: filter 0.3s ease;">
  </button>
</nav>