<section class="p-4">
    <!-- 🔧 General Settings -->
    <div class="mb-6">
        <h2 class="text-xl font-semibold text-[var(--color-accent)] mb-3">
            🔧 General Settings
        </h2>

        <!-- Toggle Dark Mode -->
        <app-setting-item label="🌗 Toggle Dark Mode">
            <label class="relative inline-flex items-center cursor-pointer">
                <input id="darkModeToggle" type="checkbox" class="sr-only peer" [(ngModel)]="isDarkMode"
                    (change)="toggleTheme()" />
                <div class="w-11 h-6 bg-[var(--color-accent)] rounded-full relative transition-all duration-300">
                    <div [ngClass]="isDarkMode ? 'left-[0.25rem]' : 'left-[1.5rem]'"
                        class="absolute top-1 w-4 h-4 rounded-full bg-[var(--color-surface)] transition-all duration-300 ease-in-out">
                    </div>
                </div>
            </label>
        </app-setting-item>
    </div>
</section>