<button (click)="openDownloadDataModal()"
    class="p-2 rounded-lg bg-[var(--color-accent)] hover:opacity-90 transition flex items-center justify-center">
    <img src="assets/img/icon/icons8-download-48.png" alt="Download" class="w-5 h-5" style="filter: invert(100%);" />
</button>


<app-form-model *ngIf="showDownloadDataModal" [label]="'Download Data'" (close)="closeDownloadDataModal()">
    <form [formGroup]="downloadDataForm" (ngSubmit)="downloadData()">
        <label class="block mb-1 font-medium">From Date</label>
        <input formControlName="fromDate" type="date" autocomplete="off" [max]="today" placeholder="From Date"
            class="w-full p-2 rounded border text-[var(--input-text)] bg-[var(--input-bg)] border-[var(--input-border)] focus:outline-none focus:ring-2 focus:ring-[var(--theme-color)] transition-all duration-200" />
        <div class="error-message text-[var(--color-error)]"
            *ngIf="downloadDataForm.get('fromDate')?.touched && downloadDataForm.get('fromDate')?.errors?.['required']">
            From Date is required
        </div>

        <label class="block mb-1 font-medium">To Date</label>
        <input formControlName="toDate" type="date" autocomplete="off" [max]="today"
            [min]="downloadDataForm.get('fromDate')?.value" placeholder="To Date"
            class="w-full p-2 rounded border text-[var(--input-text)] bg-[var(--input-bg)] border-[var(--input-border)] focus:outline-none focus:ring-2 focus:ring-[var(--theme-color)] transition-all duration-200" />

        <div class="error-message text-[var(--color-error)]"
            *ngIf="downloadDataForm.get('toDate')?.touched && downloadDataForm.get('toDate')?.errors?.['required']">
            To Date is required
        </div>

        <label class="block mb-1 font-medium">File Type</label>
        <select formControlName="fileType"
            class="w-full p-2 rounded border text-[var(--input-text)] bg-[var(--input-bg)] border-[var(--input-border)] focus:outline-none focus:ring-2 focus:ring-[var(--theme-color)] transition-all duration-200">
            <option value="PDF">PDF</option>
            <option value="EXCEL">EXCEL</option>
            <option value="JSON">JSON</option>
        </select>

        <div class="flex justify-end mt-2">
            <button type="button" (click)="downloadAllData()"
                class="mr-2 px-4 py-2 bg-[var(--color-gray-500)] text-white rounded">All Data</button>
            <button type="submit" class="px-4 py-2 bg-[var(--color-accent)] text-white rounded">Download</button>
        </div>
    </form>
</app-form-model>